* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    /* background-color: #f1f2f5; */
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px #e8e8e8 solid;
    background-color: white;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header img {
    height: 70%;
    margin-bottom: 2px;
}

.header-content {
    height: 100%;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-option {
    text-decoration: none;
    font-family: 'Poppins';
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    padding: 0px 15px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-option:hover {
    color: #ed1e24;
}

#header-option-active {
    color: #ed1e24;
    border-bottom: 2px solid #ed1e24;
}

#header-profile {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 0px #e8e8e8 solid;
}

#profile-icon {
    height: 60%;
    margin: 0 5px;
}

#destination {
    width: 100vw;
    height: 680px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(images/destination.jpeg);
    background-size: cover;
    background-position:center;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 7vw 6vw;
    margin-bottom: 30px;
}

#destination h1 {
    font-size: 85px;
    font-weight: 600;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    line-height: 110px;
    margin-bottom: 10px;
}

#destination h3 {
    font-weight: 500;
    font-size: 23px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    color: white;
    width: 900px;
    margin-bottom: 35px;
}

#destination-options {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#destination-options button {
    color: white;
    font-size: 21px;
    font-weight: 500;
    background-color: #ed1e24;
    border: none;
    padding: 12px 40px;
    margin-right: 35px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#destination-options button:hover {
    background-color: #9c1318;
}

#destination-options button:nth-child(2) {
    background-color: #00246b;
}

#destination-options button:nth-child(2):hover {
    background-color: #003295;
}

#destination-options-takeoff {
    height: 21px;
    margin-right: 16px;
    margin-bottom: 3px;
}

#destination-options-add {
    height: 21px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.category {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    margin-bottom: 20px;
}

.category h2 {
    margin-bottom: 10px;
    font-size: 25px;
}

.slide-bar {
    overflow-x:scroll;
    white-space: nowrap;
    width: 100%;
}

.recommendation {
    text-decoration: none;
    display: inline-block;
    height: 200px;
    width: 370px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position:center;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.rec-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.rec-inner span {
    height: 25px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.3s ease; /* Apply transition for opacity */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    margin-bottom: 5px;
}

.rec-inner:hover span {
    opacity: 1;
}

footer {
    width: 100vw;
    height: auto;
    margin-top: 25px;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    background-color: #00246b;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.column h3 {
    margin-bottom: 20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 600;
}

.column a {
    text-decoration: none;
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 13px;
}

.column a:hover {
    text-decoration: underline;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    background-color: white;
    margin-top: 25px;
    padding: 20px 0;
}

.footer-logos img {
    width: 60px;
}
